div{border: 5px;
    border-color: red;
    border-style: solid;
    
}

#titulos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    color: yellow;
}

#imagenes{
    display: flex;
    justify-content: space-around;
}
#elecciones{
    display: flex;
    justify-content: space-around;
}
body{
    background-color: green;
    background-image:url("fondojuegos.jpg");

}
#comentarios{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 25px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    background-color: green;
}